*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ancleColor: #2e7adf;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: var(--ancleColor);
  font-weight: 800;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.content-wrapper {
  width: 80%;
  height: auto;
}

.card {
  width: 100%;
  border: 1px solid rgba(80, 79, 79, 0.21);
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgba(80, 79, 79, 0.1);
  padding: 2.5rem;
}

.card-header {
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.2em;
}

img {
  width: 7em;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 0.7rem;
}
.go-gmail {
  font-size: 1em;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  font-size: 1.2em;
  padding: 0.9em 0.8em;
  border-radius: 5px;
  outline: none;
  margin-bottom: 1em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

.forget {
  font-size: 0.95em;
}
.guest-info {
  width: 100%;
  margin-top: 2.5em;
  color: rgba(0, 0, 0, 0.55);
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.btn {
  font-size: 1em;
  padding: 1.1em 2.4em;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--ancleColor);
  border-radius: 4px;
  font-weight: 600;
}
.primary {
  background: var(--ancleColor);
  transition: all 0.3s;
  color: white;
}
.primary:hover {
  background: #1d5fb6;
  transition: all 0.5s;
  box-shadow: 0 1px 0 1px rgba(80, 79, 79, 0.4);
}
.secondary {
  background: transparent;
  transition: background 0.3s;
}
.secondary:hover {
  background: rgb(242, 247, 253);
  transition: background 0.5s;
}

.footer {
  display: flex;
  height: 4em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.7em;
}
.other_options {
  width: 22em;
  display: flex;
  justify-content: space-around;
}
.footer a {
  color: rgba(0, 0, 0, 0.55);
}
i {
  color: rgba(0, 0, 0, 0.75);
}
/*
.alert {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  background: rgb(55, 202, 131);
  padding: 0.8rem;
  border-radius: 10px;
  justify-content: space-evenly;
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  align-items: center;
  transform: scale(0);
  animation: fade 1s ease-in-out forwards;
}

@keyframes fade {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.alert .fa-user-check {
  color: white;
  font-size: 2rem;
} */
