*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ancleColor: #2e7adf;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: var(--ancleColor);
  font-weight: 800;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.content-wrapper {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  width: 100%;
  /* border: 1px solid rgba(80, 79, 79, 0.21);
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgba(80, 79, 79, 0.1);
  padding: 2.5rem; */
}

.card-header {
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3.5em;
}

img {
  width: 7.4em;
  margin: 1.3em 0;
}
h2 {
  font-size: 2.4em;
  font-weight: 400;
  margin-bottom: 0.8rem;
}
.go-gmail {
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  font-size: 1.6em;
  padding: 0.9em 0.8em;
  border-radius: 5px;
  outline: none;
  margin-bottom: 1em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

.forget {
  font-size: 1.3em;
}
.guest-info {
  width: 100%;
  margin-top: 2.5em;
  color: rgba(0, 0, 0, 0.55);
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 600;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.btn {
  font-size: 1.4em;
  padding: 0.8em 2em;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--ancleColor);
  border-radius: 4px;
  font-weight: 600;
}
.primary {
  background: var(--ancleColor);
  transition: all 0.3s;
  color: white;
}
.primary:hover {
  background: #1d5fb6;
  transition: all 0.5s;
  box-shadow: 0 1px 0 1px rgba(80, 79, 79, 0.4);
}
.secondary {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  transition: background 0.3s;
}
.secondary:hover {
  background: rgb(242, 247, 253);
  transition: background 0.5s;
}

.footer {
  display: flex;
  height: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.1em;
}
.other_options {
  width: 20em;
  display: flex;
  justify-content: space-between;
}

.footer a {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.55);
  font-weight: bold;
}
.footer > a {
  color: rgba(0, 0, 0, 0.65);
}
i {
  color: rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 600px) {
  .card {
    width: 100%;
    border: 1px solid rgba(80, 79, 79, 0.21);
    border-radius: 12px;
    box-shadow: 0 0 0 1px rgba(80, 79, 79, 0.1);
    padding: 2.5rem;
  }
  .content-wrapper {
    width: 75%;
    max-width: 450px;
    height: auto;
  }
  .footer {
    display: flex;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
  }
}
@media (min-width: 1025px) {
  :root {
    font-size: 55%;
  }
  .content-wrapper {
    max-width: 380px;
  }
}
/*
.alert {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  background: rgb(55, 202, 131);
  padding: 0.8rem;
  border-radius: 10px;
  justify-content: space-evenly;
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  align-items: center;
  transform: scale(0);
  animation: fade 1s ease-in-out forwards;
}

@keyframes fade {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.alert .fa-user-check {
  color: white;
  font-size: 2rem;
} */
